<h1>Cups of Coffee</h1>

We've drank <%= Article.public_count %> coffee cups and counting!

<ul class = "root-preview-list">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class = "root-preview-item">
        <div class = "coffee-picture" style="background-size: cover; background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('<%= url_for(article.coffee_cup) %>');"> </div>
        <div class = "coffee-name"> <%= link_to article.title, article %> </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>